import os
from pathlib import Path

vhost = "{{ vhost }}"

SECRET_KEY = "{{ secret_key }}"
DEBUG = False
ALLOWED_HOSTS = [vhost]

CSRF_COOKIE_SECURE = True
SESSION_COOKIE_SECURE = True
SECURE_SSL_REDIRECT = True
SECURE_HSTS_PRELOAD = True
SECURE_HSTS_SECONDS = 60 * 60 * 24 * 365
SECURE_HSTS_INCLUDE_SUBDOMAINS = True

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql",
        "HOST": "localhost",
        "NAME": "reimbursements",
        "USER": "reimbursements",
        "PASSWORD": "{{ postgres_pw }}",
    }
}

uid = os.getuid()
LOGGING = {
    "version": 1,
    "disable_existing_loggers": False,
    "handlers": {
        "file": {
            "level": "INFO",
            "class": "logging.handlers.RotatingFileHandler",
            "filename": f"/srv/reimbursements/logs/django-{uid}.log",
        },
    },
    "loggers": {
        "root": {
            "handlers": ["file"],
            "level": "INFO",
        },
    },
}

STATIC_ROOT = "/srv/reimbursements/static/"

EMAIL_HOST = "{{ email_host }}"
EMAIL_PORT = "{{ email_port }}"
{% if email_user %}
EMAIL_HOST_USER = "{{ email_user }}"
EMAIL_HOST_PASSWORD = "{{ email_password }}"
EMAIL_USE_SSL = True
{% endif %}
DEFAULT_FROM_EMAIL = "{{ email_from }}"

# Our application
SITE_NAME = "Debian Reimbursements"
SITE_URL = f"https://{vhost}"
SITE_PROD_STATE = "{{ prod_state }}"
DEFAULT_CURRENCY = "USD"
DEFAULT_PAYER = "{{ default_payer }}"
DEFAULT_APPROVER = "DPL"
RECEIPTS_PATH = "/srv/reimbursements/receipts/"

OPEN_EXCHANGE_RATES_APP_ID = "{{ oxr_app_id }}"
RT_INSTANCES = {{ rt_instances|tojson }}
