{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block page_title %}
{% trans "Add Bank Details" %}
{% endblock %}
{% block content %}
<h1>{% trans "Add Bank Details" %}</h1>
<p>
  {% blocktrans %}
    Please entere the appropriate details for your bank. If you are unsure, fill
    in as much of the form as you can.
  {% endblocktrans %}
</p>
<form method="post">
  {% crispy form %}
  <input type="submit" class="btn btn-primary" value="{% trans 'Save' %}">
</form>
{% endblock %}
