{% load i18n %}
<nav class="navbar navbar-expand-lg sticky-top {% if SITE_PROD_STATE == "dev" %}bg-danger{% else %}bg-light{% endif %}">
  <nav class="container-xxl">
    <a class="navbar-brand" href="/">{{ SITE_NAME }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/profile">{% trans "Profile" %}</a>
          </li>
          {% if request.user.is_staff %}
            <li class="nav-item">
              <a class="nav-link" href="/admin">{% trans "Admin" %}</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="/accounts/logout">{% trans "Log Out" %}</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/accounts/login">{% trans "Log In" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/accounts/register">{% trans "Create Account" %}</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</nav>
